.enrichment-layout {
  display: flex;
  height: calc(100vh - 64px);
  overflow: hidden;

  app-media-tree {
    width: 320px;
    flex-shrink: 0;
  }
}

.enrichment-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

